* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(241 241 241);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

#app {
    .container {
        height: 100%;
        > * {
            &:not(header) {
                max-width: 1100px;
                margin: 0 auto;
            }
        }
    }
}
