
.edit-post {
    padding-block: 10px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .wrapper {
        flex: 1;
        align-self: stretch;
        margin-block-end: 10px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        background-color: var(--bg-color);
        border-radius: $border-radius;
        text-decoration: none;
        color: var(--color1);
        box-shadow: $box-shadow;
        padding-block: 20px;
        gap: 20px;
        > * {
            padding-inline: 20px;
        }

        input,
        textarea {
            background-color: var(--bg-color);
            color: var(--color1);
            border: none;
            outline: none;
            // font-size: 32px;
            &[name="title"] {
                font-size: 46px;
                width: -webkit-fill-available;
            }
            &[name="tags"] {
                // background-color: red;
            }
            &[name="body"] {
                font-size: 20px;
                width: 100%;
                resize: none;
                flex: 1;
            }
        }
        .image-upload {
            position: relative;

            input {
                position: absolute;
                display: none;
                // inset: 0 0 0 0;
            }
            span {
                font-size: larger;
                border-color: var(--img-button-color);
                padding: 5px 15px;
                border-radius: 4px;
                box-shadow: 0 0 4px 2px var(--img-button-color);
                cursor: pointer;
            }
        }

        .mini-wrapper {
            display: flex;
            gap: 10px;
        }
    }
    .btns {
        display: flex;
        gap: 10px;
        button {
            border: 0;
            padding: 10px 20px;
            font-weight: 400;
            border-radius: 3px;
            font-size: large;
            letter-spacing: 0.3px;
            cursor: pointer;
        }
        .publish {
            margin-inline-start: 20px;
            background-color: $clr2;
            color: white;
            outline: 0;
            &:hover {
                background-color: $clr2-hover;
            }
        }
        .save {
            background-color: var(--body-color);
            color: var(--color1);
        }
    }
}

@media (min-width: 500px) {
    .edit-post {
        .wrapper {
            margin: 0 20px 10px;

        }
    }
}
