.post-details {
    padding-block: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: start;

    .post-display {
        @include flex-column;
        background-color: var(--bg-color);
        border-radius: $border-radius;
        text-decoration: none;
        color: var(--color1);
        box-shadow: $box-shadow;

        img {
            border-start-start-radius: 3px;
            border-start-end-radius: 3px;
            width: 100%;
            aspect-ratio: 31/13;
            object-fit: cover;
        }
        .wrapper {
            @include flex-column;
            padding: 1.25rem;
            gap: 10px;

            blockquote {
                border-inline-start: 4px solid #ddd;
                margin: 0;
                padding: 16px 40px;
                font-style: italic;
                box-shadow: $box-shadow;
            }
            code {
                font-size: 14px;
                background-color: #ddd;
                padding: 1px 3px;
                border-radius: 5px;
            }
            img {
                // float: right;
                // display: block;
                // margin-inline: 50%;
                // text-align: center;
                // width: 400px;
            }
        }
        .add-comment {
            @include flex-column;
            border-top: 1px solid var(--img-button-color);
            padding: 16px 32px;
            gap: 10px;
            form {
                gap: 10px;
                display: flex;
                // flex-direction: column;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid var(--tag-shadow-preview);
                }
                .mini-wrapper {
                    @include flex-column;
                    flex: 1;
                    gap: 10px;
                }
                textarea {
                    background-color: var(--body-color);
                    resize: none;
                    outline: 0;
                    color: var(--color1);
                    border: 1px solid #d4d4d4;
                    border-radius: 0.375rem;
                    // box-shadow: $box-shadow;
                    font-size: large;
                    padding: 10px;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                    line-height: 22px;
                    transition: all 0.5s ease;
                    overflow-y: hidden;
                }
                button {
                    align-self: self-start;
                    background-color: $clr2;
                    border: 0;
                    border-radius: 5px;
                    padding: 10px 20px;
                    font-weight: 500;
                    font-size: 16px;
                    color: white;
                    // letter-spacing: 0.2px;
                    &:hover {
                        cursor: pointer;
                        background-color: $clr2-hover;
                    }
                }
            }
            .comments-list {
                @include flex-column;
                gap: 10px;
            }
        }
    }
    .post-options {
        // position: sticky;
        // top: 80px;
        // display: flex;
        // flex-direction: column;
        // gap: 10px;
        display: none;

        .post-author {
            @include flex-column;
            background-color: var(--bg-color);
            border-radius: $border-radius;
            text-decoration: none;
            color: var(--color1);
            box-shadow: $box-shadow;
            padding: 1rem;
            padding-top: 0;
            border-top: 2rem solid black;
            gap: 10px;
            // top: 80px;
            // position: sticky;
            .info {
                margin-top: calc(1rem * -1);
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid #ddd;
                    box-shadow: $box-shadow;
                    background-color: white;
                }
                span {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            .joined {
                @include flex-column;
                gap: 5px;
                :first-child {
                    color: var(--color1);
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }
        .options-wrapper {
            @include component;
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 0.2fr;
            gap: 10px;
            a {
                display: flex;
                text-decoration: none;
            }
            button {
                flex: 1;
                padding-block: 10px;
                background-color: $clr2;
                color: white;
                outline: 0;
                border-radius: 3px;
                border: 0;
                font-weight: 400;
                font-size: medium;
                letter-spacing: 0.3px;
                &:hover {
                    cursor: pointer;
                    background-color: $clr2-hover;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .post-details {
        padding-inline: 20px;
        grid-template-columns: minmax(auto, 660px) 1fr;
        .post-options {
            @include flex-column;
            position: sticky;
            top: 80px;
            gap: 10px;
        }
        &.add-comment {
            padding: 32px 64px;
        }
    }
}
