header {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--bg-color);
    section {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        height: 100%;
        padding-inline: 20px;
    }

    h1 {
        cursor: pointer;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        font-family: montserrat, sans-serif;
        font-weight: 900;
        font-size: 32px;
        span {
            font-family: montserrat, sans-serif;
            // background: linear-gradient(to right, #ffffff 50%, #ddd 50%, rgb(241 241 241));
            background: linear-gradient(to right, var(--bg-color) 50%, #ddd 50%, rgb(241 241 241));
            background-size: 200%;
            animation: textHover 1.4s ease 0s infinite;
            -webkit-background-clip: text;
        }
        -webkit-text-stroke: 1px rgb(128, 128, 128);
        -webkit-text-fill-color: transparent;
        @keyframes textHover {
            0% {
                background-position: 0;
            }
            100% {
                background-position: -200%;
            }
        }
    }

    .connect-btn {
        display: flex;
        align-self: center;
        padding: 10px 20px;
        border: 1px solid $clr2;
        background-color: var(--bg-color);
        border-radius: 5px;
        color: $clr2;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.3px;
        cursor: pointer;
        &:hover {
            color: #ffffff;
            text-decoration: underline;
            background-color: #4f46e5;
        }
    }
    .menu {
        position: relative;
        align-self: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ddd;
            box-shadow: $box-shadow;
            cursor: pointer;
        }
        ul {
            color: var(--color1);
            top: 75px;
            inset-inline: 20px;
            position: fixed;
            background-color: var(--bg-color);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            border: 1px solid var(--border-ul);
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 5px;
            li {
                display: flex;
                a,
                span {
                    width: 100%;
                    padding: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    &:visited{
                        color: var(--color1);
                    }
                }
            }
        }
    }

}

@media (min-width: 500px) {
    header {
        .menu {
            ul {
                height: max-content;
                width: max-content;
                position: absolute;
                top: 45px;
                inset-inline: 0;
                transform: translateX(calc(-100% + 40px));
                li {
                    a,
                    span {
                        padding-right: 100px;
                        border-radius: $border-radius;
                        width: 100%;
                        &:hover {
                            text-decoration: underline;
                            background-color: var(--menu-hover);
                        }
                    }
                }
            }
        }
    }
}
