.post-filter {
    position: sticky;
    top: 80px;
    .order {
        display: flex;
        padding: 1.25rem;
        gap: 10px;
        color: var(--color1);
        span{
            cursor: pointer;
            font-size: 18px;
            font-weight: 300;
            &.selected{
                font-weight: 700;
            }
        }
    }
    .tags-wrapper{
        @include flex-column;
        gap: 10px;
        .tags-header{
            color: var(--color1);
            font-weight: 700;
            padding-inline-start: 1.25rem;
        }
    }
}

@media(max-width:500px){
    .post-filter {
        order: -1;
        .tags-wrapper{
            display: none;
        }
    }
}